

.cardContainer{
    width: 100%;
    min-height: 150px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    /* border: 2px solid green; */
    border-radius: 15px;
}

.img{
    width: 5em;
    border-radius: 10px;
    /* height: 5em; */
    /* border: 2px solid yellow; */
    /* object-fit: cover; */
}


.middleDiv{
    width: 60%;
    height: 80%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.h2{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.trash{
    cursor: pointer;
    transition: transform ease-in .2s;
}

.trash:hover{
    transform: scale(1.05);
}


.textsDark{
    color: #fff;
}