.card{
    box-shadow: 0 0 2px #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    padding: 1em;
}

.card:hover{
    box-shadow: 0 3px 7px rgba(33, 33, 33, 0.5);
}



.cardDark{
    background-color: #333131;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    padding: 1em;
    transition: all ease-in-out .5s;
}

.cardDark:hover{
    transform: scale(1.02);
}




.title{
    font-size: 1.3em;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;

}

.titleDark{
    color: #fff;
    font-weight: bold;
}



.priceDark{
    color: #fff;
}





.image{
    width: 8em;
}

