.container{
    min-height: 100vh;
    /* border: 3px solid purple; */
}

.containerDark{
    background-color: #252525;
}


.firstDiv{
    /* border: 2px solid red; */
    padding: 5px 15px;
}




/* SECOND DIV */

.secondDiv{
    /* border: 3px solid green; */
    display: flex;
    padding: 2em;
    gap: 4em;
}


.priceContainer{
    padding: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid red; */
}

/* .divHoldsBeforeAndToday{
    border: 1px solid red;
} */

.priceBefore{
    text-decoration: line-through;
    color: gray;
    font-size: 1.3em;
}


.todayPrice{
    font-size: 2.5em;
    color: orange;
    font-weight: bold;
}

.em{
    font-size: 0.5em;
}



.threeBoxContainer{
    /* border: 2px solid red; */
    /* margin-top: 1.5em; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.box{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
}

.text{
    text-align: center;
    /* margin: 5px 0; */
}

.textDark{
    color: #fff;
}


.icon{
    font-size: 2em;
    color: blue;
}

.iconDark{
    color: red;
}


.shippingInfo{
    /* border: 1px solid red; */
    padding: 5px;
}

.addToCart{
    padding: 10px 7px;
    background-color: #30D3F4;
    outline: none;
    border-style: none;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 8px;
}

.addCartDark{
    background-color: #FF0E0E;
    color: #fff;
}

@media(max-width: 900px){
    .secondDiv{
        flex-direction: column;
        padding: 1em;
        gap: 1em;
    }

    .priceContainer{
        width: 100%;
    }

    .threeBoxContainer{
        display: flex;
        flex-direction: column;
    }
}